<div class="P_AllServices">

    <p id="notice"><%= notice %></p>

    <div class="M_CategoryList">
          <div class="Q_LShevron"></div>
          <div class="A_CategoryList">
            <% @services.each do |service| %>
              <%= link_to service.category.name, category_path(service.category) %>
            <% end %>
          </div>
          <div class="Q_RShevron"></div>
    </div>

    <h1 class="A_H1">Все предложения</h1>

    <th colspan="3"></th>
    <div class="O_AllServices">



        <% @services.each do |service| %>
        <%= link_to service do%>
        <div class="Please">
            <div class="M_ServiceCard">
              <div class="">
                <h2 class="A_H2"><%= service.name %></h2>
              </div>
              <!-- <div class="">
                <p class="A_P1"><#%= service.description %></p>
              </div> -->
              <div class="">
                  <%= image_tag(service.image, style:'width:231px; height:123px; border-radius: 4px; margin-top: 15px;') %>
              </div>
              <div class="A_ProfileInCard">
                  <%= image_tag(service.user.image, style:'width:32px; height:32px; border-radius: 50px;') %>
                  <div class="A_P2">
                    <%= service.user.name %>
                  </div>
              </div>
            </div>
          </div>

            <!-- закомментила шоу едит дестрой временно-->
            <!-- <td><#%= link_to 'Edit', edit_service_path(service) %></td> -->
            <!-- <td><#%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <% end %>
        <% end %>



    <br>

    <%#= link_to 'New Service', new_service_path %>
  </div>
</div>
