<p id="notice"><%= notice %></p>

<h1>Service Images</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_images.each do |service_image| %>
      <tr>
        <td><%= service_image.service_id %></td>
        <td><%= service_image.image %></td>
        <td><%= link_to 'Show', service_image %></td>
        <td><%= link_to 'Edit', edit_service_image_path(service_image) %></td>
        <td><%= link_to 'Destroy', service_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Image', new_service_image_path %>
