<!DOCTYPE html>
<html>
  <head>
    <title>SwapApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <menu class="O_Menubar">
      <%#=пока выводит на всех юзеров, потом надо переправить на текущего %>
      <!-- <div class="Q_Logo"></div> -->
      <%= link_to services_path do %>
        <div class="Q_Logo"></div>
      <% end %>

      <div class="M_MenuCollection">
        <a href="#"><div class="Q_AvatarIcon"></div></a>

        <%# <%= link_to image_tag("../images/avatar.svg"), users_path %>
        <%= link_to 'Добавить услугу', new_service_path(), class: "A_Button" %>
      </div>
    </menu>

    <%= yield %>
  </body>
</html>
